deploy.sh
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/master.key
config/secrets.yml
.env
/.bundle
/vendor/bundle
Gemfile.lock 
.ruby-version 
.ruby-gemset
.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
.byebug_history
node_modules/
public/assets
storage
